<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../public/index.css" />
		<title></title>
	</head>
	<body>
		<!--点击按钮后提示信息：请输入手势-->
		<header>手势密码</header>
		<!--此处为手势锁-->
		<div class="lock_area">
			<div>
				<div class="pos"></div>
			</div>
			<div>
				<div class="pos"></div>
			</div>
			<div>
				<div class="pos"></div>
			</div>
			<div>
				<div class="pos"></div>
			</div>
			<div>
				<div class="pos"></div>
			</div>
			<div>
				<div class="pos"></div>
			</div>
			<div>
				<div class="pos"></div>
			</div>
			<div>
				<div class="pos"></div>
			</div>
			<div>
				<div class="pos"></div>
			</div>
		</div>
		<!--手势画布 -->
		<canvas id="canv" ></canvas>
		<!--手势信息提示-->
		<div id="tip"></div>
		
		
		
		<form action="" method="get"> 
	 		<label><input name="a" type="radio" value="" /><span id="#">设置密码</span></label> 
			<label><input name="a" type="radio" value="" /><span id="#">验证密码</span></label> 
 	</form>
		<script type="text/javascript" src="../public/lock.js"></script>
	</body>


</html>